<h1>This is secret page</h1>

<p>Hello</p>

<% if(products) { %>
    <% for(var i=0;i<products.length;i++) { %>
        <div class="row">
            <p>Name: <%= products[i].name %></p>
            <p>Price: <%= products[i].price %></p>
            <p>Quantity: <%= products[i].quantity %></p>
            <p>Store: <%= products[i].storename %></p>
            <p>Address: <%= products[i].address %></p>
        </div>
    <% } %>
<% } %>

<a href="/addprod">Add product</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>